<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="50px">
    <app-user-view *ngFor="let candidate of candidates"
      [username]="candidate"
      [showRegistered]="true"
      [registered]="candidateKeys[candidate] != null">
    </app-user-view>
  </div>
  <button mat-raised-button color="primary" (click)="startVoting()" [disabled]="loading">
    Start Voting Phase <mat-spinner *ngIf="loading" [diameter]="50"></mat-spinner>
  </button>
</div>
